*{
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.btnvolver {
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	background-color:#f0c911;
	border-radius:6px;
	border:1px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color:#c92200;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ded17c;
}
.btnvolver:hover {
	background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
	background-color:#f2ab1e;
}
.btnvolver:active {
	position:relative;
	top:1px;
}


body{
    display: flex;
    flex-direction: row;background-color: #FCFFC5;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: #FCFFC5;
    position: fixed;
    height: 100%;
}
.titulo{
    width: 100%;
    height: 40px;
    background-color: #FCFFC5;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
.principal{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FCFFC5;
    padding-left: 700px;
}

.titulo p{
    font-size: 40px;
}
.contenedor{
    width:100%;
}

.card{
    background-color: snow;
    box-shadow: 10px 10px 15px -10px black;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.card h1{
    font-size:15px;
    padding-top: 40px;
}
.card h2{
    padding: 20px;
    font-size:100px;
}
.card h3{
    font-size:20px;
}

.respuestas{
    display: flex;
    flex-direction: column;
    width:400px;

}
.graficototal{
    display: flex;
    flex-direction: column;
    width:650px;

}
.total{
    display: flex;
}

@media only screen and (max-width: 1592px) {
    .card{
        height: 280px;
    }
    .card h1{
        font-size:13px;
        padding-top: 40px;
    }
    .card h2{
        padding: 18px;
        font-size:100px;
    }
    .card h3{
        font-size:18px;
    }
    .titulo p{
        font-size: 32px;
    }


}

@media only screen and (max-width: 860px) {
    .graficototal{
        display: none
    }
    .menu{
        position: relative;
        width: 100%;
    }
    .principal{
        padding-left: 0px;
        width: 100%;
    }
    .total{
        display: none;
    }
    body{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .respuestas{
        width: 300px;
    }
}

@media only screen and (max-width: 450px) {
    .titulo p{
        font-size: 20px;
    }
}